<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>WindLocker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="WINDLOCKER/PC 관리 솔루션" />
    <meta name="msapplication-TileColor" content="#00a1cf">
    <meta name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png">
    <link rel="stylesheet" href="./w3.css">
    <link rel="stylesheet" href="./css">
    <link rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/nanumgothic.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>

<body>
    <div class="w3-bar w3-top w3-large" style="z-index:4;color:white;padding-top:5px;background: linear-gradient( to right, #00b5d4 20%,#00a1cf, #008eca );">
        <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey"><i class="fa fa-bars" style="font-size:7vw;"></i>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;메인</button> <span class="w3-bar-item w3-right"><i class="fa fa-ellipsis-v" style="font-size:7vw;"></i></span> </div>

    <div class="bg w3-display-container w3-animate-opacity w3-text-white" style="background:#f1f1f1">
        <div class="w3-display-middle w3-left">

           <a href="Locked.html">
            <div class="w3-large w3-custom-box2 w3-animate-right" style="width:95vw;padding:5vw;margin:50px 10px 10px 10px"> <img src="./img/Lock_Gradient.png" class="w3-jumbo w3-animate-right" style="display:inline;margin-right:20px;" width="50" alt="Lock" oncontextmenu="return false" align="left">
                <h4 style="margin:0;font-weight:bold">잠금</h4>
                <p style="margin-bottom:0;font-size:14px;">기능에 대한 설명을 적어주세요</p>
            </div>
            </a>

            <a href="Process_Protect.html">
            <div class="w3-large w3-custom-box2 w3-animate-right" style="width:95vw;padding:5vw;margin:10px;"> <img src="./img/Shield_Gradient.png" class="w3-jumbo w3-animate-right" style="display:inline;margin-right:20px;" width="50" alt="Lock" oncontextmenu="return false" align="left">
                <h4 style="margin:0;font-weight:bold">보호</h4>
                <p style="margin-bottom:0;font-size:14px;">기능에 대한 설명을 적어주세요</p>
            </div>
            </a>

            <a href="System.html">
            <div class="w3-large w3-custom-box2 w3-animate-right" style="width:95vw;padding:5vw;margin:10px;"> <img src="./img/Manage_Gradient.png" class="w3-jumbo w3-animate-right" style="display:inline;margin-right:20px;" width="54" alt="Lock" oncontextmenu="return false" align="left">
                <h4 style="margin:0;font-weight:bold">관리</h4>
                <p style="margin-bottom:0;font-size:14px;">기능에 대한 설명을 적어주세요</p>
            </div>
            </a>

            <a href="Send_File.html">
            <div class="w3-large w3-custom-box2 w3-animate-right" style="width:95vw;padding:5vw;margin:10px;"> <img src="./img/Share_Gradient.png" class="w3-jumbo w3-animate-right" style="display:inline;margin-right:20px;" width="50" alt="Lock" oncontextmenu="return false" align="left">
                <h4 style="margin:0;font-weight:bold">파일 공유</h4>
                <p style="margin-bottom:0;font-size:14px;">기능에 대한 설명을 적어주세요</p>
            </div>
            </a>

            <a href="First%20Screen.html">  <!--연준 로그아웃 처리 좀 -->
            <div class="w3-large w3-custom-box2 w3-animate-right" style="width:95vw;padding:5vw;margin:10px;"> <img src="./img/Logout_Gradient.png" class="w3-jumbo w3-animate-right" style="display:inline;margin-right:20px;" width="50" alt="Lock" oncontextmenu="return false" align="left">
                <h4 style="margin:0;font-weight:bold">로그아웃</h4>
                <p style="margin-bottom:0;font-size:14px;">기능에 대한 설명을 적어주세요</p>
            </div>
            </a>

        </div>
    </div>
</body>
<script src="/main.js"></script>

</html>
