<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>WindLocker</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="WINDLOCKER/PC 관리 솔루션" />
<meta name="msapplication-TileColor" content="#00a1cf">
<meta name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png">
<link rel="stylesheet" href="./w3.css">
<link rel="stylesheet" href="./css">
<link rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/nanumgothic.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="./main.js"></script>
</head>
<body>

<div class="w3-bar w3-top w3-large" style="z-index:4;color:white;padding-top:5px;">
 <a href="./main.html" class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey"><i class="fa fa-bars" style="font-size:7vw;"></i>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;잠금 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
  <span class="w3-bar-item w3-right"><i class="fa fa-ellipsis-v" style="font-size:7vw;"></i></span>
</div>
<div class="bg w3-display-container w3-animate-opacity w3-text-white">
 
<!-- 잠금 화면 -->  
   <div id="lock_screen" class="w3-display-middle w3-center">
   
    <img src="./img/Lock_White_Unlocked.png" class="w3-jumbo w3-animate-top" style="height:25vh; margin-bottom: 15%;" alt="LOGO" oncontextmenu="return false">
    
   <p class="w3-center w3-large";>잠금 해제 상태!</p>
   <br>
 
      
    <p class="w3-large w3-center">
    <button class="w3-button w3-custom-box "  type="submit" style="width:80vw" id="register">잠금 설정</button>
    <br>
    <br>
    <a href="./main.html" class="w3-button w3-custom-box" style="width:80vw">메인으로 돌아가기</a>
    
   </p>
  </div>

  
</div>

</body>
</html>